@import '../../variables.scss';

.background-img {
  background-image: linear-gradient(to top,
      rgba(46, 49, 65, 0.8),
      rgba(46, 49, 65, 0.8)),
    url(../../assets/imgs/hjohnsonii/hjohnsoniiSmall.jpg);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
}

.inner {
  margin: auto;
  max-width: 1200px;
  text-align: left;
}

.title-section {
  margin-top: 20vh;
  margin-bottom: 10vh;
  background-color: transparent;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 100;
}

.body-text {
  text-align: left;
  line-height: 2rem;
}

.section-title {
  margin: 0px;
  font-size: 1.75rem;
}

.content {
  background-color: $primary;
  border-radius: 20px;
  margin-bottom: 100px;
  padding-bottom: 3rem;
}

body {
  background-color: transparent !important;
}

.inner-section {
  margin-top: 0px;
  padding-top: 0;
}

.inner-section:last-child {
  padding-bottom: 0px;
}

/** figure stuff  **/

.figure-container {
  display: flex;
  max-width: 100%;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  margin-top: 20px;
}

.alt {
  flex-direction: row-reverse;
  text-align: right;
}

.img-wrapper {
  max-width: 1000px;
}

.figure-img {
  max-width: 100%;
  border-radius: 20px;
}

.figure-details {
  padding: 20px;
  padding-top: 0px;
}

.figure-title {
  font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
  .figure-container {
    flex-direction: column;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .figure-details {
    padding-left: 0px;
    padding-right: 0px;
  }

  .figure-description {
    text-align: left;
  }
}
