.my-card {
  /* width: calc(50% - 1.5em); */
  background-color: #353849;
  border-radius: 15px;
  max-width: 500px;
  margin: 15px;
  color:white;
}

.card-img {
  width: 100%;
  object-fit: fill;
  border-radius: 15px 15px 0px 0px;
  max-height: 375px;
}

.my-card-content {
  padding: 20px;
  padding-top: 0px;
}

.my-card-title {
  font-weight: 600;
  font-size: 1.1em;
  padding: 20px;
}

.description {

}

.features {
  margin: 0 0 2em 0;
}

.learn-more-button {
  margin-top: 10px !important;
  background-color: #2E3141;
  color: white;
}
