<section class="published features inner">
  <div class="section-info-container">
    <div class="section-title">
      Research Projects
    </div>
    <hr>
    <div class="section-subtitle">
      Here are a few of the research projects that I have completed during my time at Rowan University. These projects
      were not part of any course curiculum and were sponsored by faculty at the university.
    </div>
  </div>

  <div class="flex-center">
    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img" src="../../assets/imgs/HjohnsoniiSTEMposter8+CR2-FINAL.jpg">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          <i>Halophila johnsonii</i> Individual Based Model (IBM)
        </div>
        <hr>
        <div class="description">
          This was the poster that I created to present my research on the seagrass, Halophila johnsonii under the super
          vision of Dr. Richmond. This was presented at the 2016 Rowan University STEM Symposium.
        </div>
        <button class="learn-more-button" mat-flat-button>Learn More</button>
      </div>
    </div>

    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img" src="../../assets/imgs/artificialIntel.jpg">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          APPLYING AI TO ONLINE TRADING CARD GAMES
        </div>
        <hr>
        <div class="description">
          This was the poster that my group and I created to present our research and project on the implementation of
          an AI into a trading card game. This was presented at the 2016 Rowan University STEM Symposium.
        </div>
        <button class="learn-more-button" mat-flat-button>Learn More</button>
      </div>
    </div>
  </div>


</section>
