<app-parallax-title></app-parallax-title>

<section class="about">
  <div class="section-title">
    About me
  </div>
  My name is Vincent Scavetta and I am a professional Software Engineer specializing in developing secure software for
  the Department of Defense.
</section>

<section>
  <div class="flex-grid">
    <mat-card class="about-card">
      <mat-card-title class="about-card-title">
        Frontend Development
      </mat-card-title>
      <mat-card-content>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor nisi sodales posuere blandit. Morbi
            aliquet egestas leo, varius imperdiet purus porta eget. Fusce et justo pretium, ullamcorper metus ac, auctor
            erat. Nunc dignissim lorem sed imperdiet volutpat.
          </p>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="about-card">
      <mat-card-title class="about-card-title">
        Backend Development
      </mat-card-title>
      <mat-card-content>
        <div style="text-align: left;">
          <p>
            API Servers are the backbone of just about any application. It is absolutely critical to ensure high
            availability as well as modularity to keep up with the the growing demand. With the recent industry movement
            away from the traditional monolith design into a more microservice oriented architecture, I have gained
            experience working with technologies such as Spring and Docker to stand up microservices with ease
          </p>
          <h4 style="color: blueviolet; text-align: center;">Spring Boot</h4>
          <p>
            Much of my professional experience in designing and developing RESTful APIs utilize the Spring Boot Web
            Framework. Some of the specific components ive used include:
          </p>
          <ul>
            <li>
              Spring Boot
            </li>
            <li>
              Spring Data JPA/Hibernate
            </li>
            <li>
              Spring Security
            </li>
            <li>
              Spring Cloud
            </li>
          </ul>
          <h4 style="color: blueviolet; text-align: center;">Backend Technologies</h4>
          <p>
            Some of the specific backend technologies that I have used include:
          </p>
          <ul>
            <li>
              Java 11
            </li>
            <li>
              Docker
            </li>
            <li>
              MySQL
            </li>
            <li>
              SQL Server
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="about-card">
      <mat-card-title class="about-card-title">
        <i class="fas fa-user-graduate"></i> Education
      </mat-card-title>
      <mat-card-content>
        <div style="text-align: left;">
          <mat-list>
            <mat-list-item>
              <i mat-list-icon class="fas fa-laptop-code"></i>
              <h4 mat-line>Masters of Science in Computer Science</h4>
              <p mat-line>Graduated Spring 2019 with Magna Cum Laude Honors</p>
            </mat-list-item>
            <mat-list-item>
              <i mat-list-icon class="fas fa-microscope"></i>
              <h4 mat-line>Bachelors of Science in Biological Science</h4>
              <p mat-line>Graduated Spring 2016 minoring in Computer Science and Chemistry</p>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>




<section class="published">
  <div class="section-title">
    Published Titles
  </div>

  <div class="flex-grid">
    <mat-card class="about-card">
      <img mat-card-image src="../../assets/incrediballW.png" class="incrediball-card-header" />
      <mat-card-title class="about-card-title">
        Incrediball
      </mat-card-title>
      <mat-card-content>
        Incrediball is the most incredible endless rolling ball experience. Steer the ball left and right on
        randomly generated paths to show your friends that you are truly incrediball
      </mat-card-content>
      <mat-card-actions>
        <button mat-button primary>Learn More!</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="about-card">
      <img mat-card-image src="../../assets/supernova.jpg" class="supernova-card-header" />
      <mat-card-title class="about-card-title">
        SuperNova: Escape!
      </mat-card-title>
      <mat-card-content>
        Tap to escape the trailing super nova in this endless arcade classic! Carefully avoid the asteroids
        floating in space without slowing down... Tap too slowly and the super nova will surly catch up!
      </mat-card-content>
      <mat-card-actions>
        <button mat-button primary
          href="https://apps.apple.com/us/app/incrediball-the-endlessly-rolling-ball/id1119680630">Learn More!</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
