
body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Raleway' !important;
    text-align: center;
}

.overflow-wrap {
    overflow-x: hidden;
    overflow: hidden;
}

.homepage {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(135deg, #2B7594 0%, #7a007e 100%);
    overflow: hidden;
    /* font-family: 'Orbitron', sans-serif; */
}

.title-container {
    z-index: 1;
}

.title {
    font-size: 3rem;
    line-height: 36pt;
}

.subtitle {
    font-size: 2rem;
}

.section-title {
    /* padding: 70px 0 70px 0; */
    font-size: 3rem;
    line-height: 36pt;
}

section {
    padding: 3rem;
}

.flex-center {
    display: flex;
    justify-content: space-evenly;
    line-height: 1rem;
}

.mdl-card {
    margin: 1rem;
}

.incrediball-card-wide > .mdl-card__title {
    height: 175px;
    -webkit-text-stroke: 1px black;
    color: #fff;
    background: url('resources/images/incrediballW.png') bottom / cover;
}

.incrediball-card-wide.mdl-card {
    width: 512px;
}

.incrediball-card-wide > .mdl-card__menu {
    color: #fff;
}

.supernova-card-wide > .mdl-card__title {
    height: 175px;
    -webkit-text-stroke: 1px black;
    color: #fff;
    background: url('resources/images/supernova.jpg') center / cover;
}

.supernova-card-wide.mdl-card {
    width: 512px;
}

.supernova > .mdl-card__menu {
    color: #fff;
}

.download-button {
    background-color: turquoise;
}

.card-title-text {
    margin: 1rem;
}

.highlight {
    font-family: 'Raleway';
    font-weight: 600;
}

.flex {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    color: #616161;
    line-height: 11pt;
    position: relative;
    overflow: auto;
}

.columns {
    /* background-color: #7a007e; */
    display: flex;
    padding: 2rem !important;
    margin: 30px;
}

.column {
    background-color: white;
    
    border-width: 1px;
    border-style: solid;
    flex-grow: 1;
    flex-shrink: 1;
}

.column-title {
    font-size: 2rem;
    margin: 1rem;
}

.published {
    color: #616161;
    background-color: #F5F5F5 ;
}

/** floating dust **/

li {
    list-style-type: none;
}

.slider-box {
    float: right;
    margin: 10px 20px;
    position: relative;
    z-index: 1000;
}

#range {
    margin-top: 5px;
    color: #eee;
    font-size: 10pt;
    margin-left: 10px;
    position: relative;
}

#specks {
    position: relative;
    z-index: 999;
    height: 100vh;
    width: 100vw;
}

.speck {
    opacity: 0;
    height: 4px;
    width: 4px;
    background: url('resources/images/speck.png');
    /* background: url('http://i1272.photobucket.com/albums/y391/matthew_williams10/speck_zpsu9xym9zl.png'); */
    background-size: cover;
    position: relative;
    border-radius: 10px;
    z-index: 99;
}

.img {
    position: relative;
    height: 100000px;
    width: 100000px;
    top: -8500px;
    left: -8000px;
    animation-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    animation-name: float;
    animation-iteration-count: infinite;
}

#img-1 {
    opacity: 0.25;
    background: url('resources/images/dust1.jpg');
    background-repeat: repeat;
    animation-duration: 600s;
}

#img-2 {
    opacity: 0.2;
    background: url('resources/images/dust2.jpg');
    background-repeat: repeat;
    animation-duration: 450s;
}

#img-3 {
    opacity: 0.15;
    background: url('resources/images/dust3.jpg');
    background-repeat: repeat;
    animation-duration: 350s;
}

/*ANIMATIONS*/

@keyframes twinkle {
    0% {
        transform: translate(0px, 0px);
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 0.75;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translate(175px, 100px);
    }
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(8000px, 4000px);
    }
}

/** floating dust **/