<section class="published bottom-border">
  <div class="section-info-container">
    <div class="section-title">
      Published Projects
    </div>
    <hr>
    <div class="section-subtitle">
      These are just a few of the projects that I have worked on that have been published around on the internet. The
      source code for these projects among others can be found on my GitHub profile
      <button mat-icon-button>
        <a class="button-link" href="https://github.com/scavet64"><i class="fab fa-github"></i></a>
      </button>
    </div>
  </div>
  <div class="flex-grid-vert">

    <div class="my-h-card mat-elevation-z6">
      <div class="animalcrossing-img">
        <img class="card-img" src="../../assets/imgs/animalcrossing.png">
      </div>
      <div class="my-card-content" style="flex: 1">
        <div class="my-card-title">
          Animal Crossing Critters
        </div>
        <hr>
        <div class="description" style="flex: 3">
          Help keep track and fill out your Animal Crossing New Horizons Critterpedia by using this tracker to see
          which critters you have captured and see when each critter is available.
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Visit!</a>
        </button>
      </div>
    </div>

    <div class="my-h-card mat-elevation-z6">
      <div>
        <img class="card-img super-nova-img" src="../../assets/supernova.jpg">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          SuperNova: Escape!
        </div>
        <hr>
        <div class="description">
          Tap to escape the trailing super nova in this endless arcade classic! Carefully avoid the asteroids
          floating in space without slowing down... Tap too slowly and the super nova will surly catch up!
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>

    <div class="my-h-card mat-elevation-z6">
      <div>
        <img class="card-img incrediball-img" src="../../assets/incrediballW.png">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          Incrediball
        </div>
        <hr>
        <div class="description">
          Incrediball is the most incredible endless rolling ball experience. Steer the ball left and right on
          randomly generated paths to show your friends that you are truly incrediball
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>
  </div>

  <div class="flex-grid">

    <div class="my-card mat-elevation-z6">
      <div class="animalcrossing-img">
        <img class="card-img" src="../../assets/imgs/animalcrossing.png">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          Animal Crossing Critters
        </div>
        <hr>
        <div class="description">
          Help keep track and fill out your Animal Crossing New Horizons Critterpedia by using this tracker to see
          which critters you have captured and see when each critter is available.
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Visit!</a>
        </button>
      </div>
    </div>

    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img incrediball-img" src="../../assets/incrediballW.png">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          Incrediball
        </div>
        <hr>
        <div class="description">
          Incrediball is the most incredible endless rolling ball experience. Steer the ball left and right on
          randomly generated paths to show your friends that you are truly incrediball
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>

    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img super-nova-img" src="../../assets/supernova.jpg">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          SuperNova: Escape!
        </div>
        <hr>
        <div class="description">
          Tap to escape the trailing super nova in this endless arcade classic! Carefully avoid the asteroids
          floating in space without slowing down... Tap too slowly and the super nova will surly catch up!
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>
  </div>

</section>
