<section class="published">
  <div class="section-title">
    My Published Projects
  </div>
  <div class="flex-grid">

    <div class="my-card mat-elevation-z6">
      <div class="animalcrossing-img">
        <img class="card-img" src="../../assets/imgs/animalcrossing.png">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          Animal Crossing Critters
        </div>
        <hr>
        <div class="description">
          Help keep track and fill out your Animal Crossing New Horizons Critterpedia by using this tracker to see
          which critters you have captured and see when each critter is available.
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Visit!</a>
        </button>
      </div>
    </div>

    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img incrediball-img" src="../../assets/incrediballW.png">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          Incrediball
        </div>
        <hr>
        <div class="description">
          Incrediball is the most incredible endless rolling ball experience. Steer the ball left and right on
          randomly generated paths to show your friends that you are truly incrediball
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>

    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img super-nova-img" src="../../assets/supernova.jpg">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          SuperNova: Escape!
        </div>
        <hr>
        <div class="description">
          Tap to escape the trailing super nova in this endless arcade classic! Carefully avoid the asteroids
          floating in space without slowing down... Tap too slowly and the super nova will surly catch up!
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>
  </div>

</section>

<section class="published">
  <div class="section-title">
    Other Projects
  </div>
  <div class="flex-grid">

    <div class="my-card mat-elevation-z6">
      <div class="animalcrossing-img">
        <img class="card-img" src="../../assets/imgs/animalcrossing.png">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          Animal Crossing Critters
        </div>
        <hr>
        <div class="description">
          Help keep track and fill out your Animal Crossing New Horizons Critterpedia by using this tracker to see
          which critters you have captured and see when each critter is available.
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Visit!</a>
        </button>
      </div>
    </div>

    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img incrediball-img" src="../../assets/incrediballW.png">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          Incrediball
        </div>
        <hr>
        <div class="description">
          Incrediball is the most incredible endless rolling ball experience. Steer the ball left and right on
          randomly generated paths to show your friends that you are truly incrediball
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>

    <div class="my-card mat-elevation-z6">
      <div>
        <img class="card-img super-nova-img" src="../../assets/supernova.jpg">
      </div>
      <div class="my-card-content">
        <div class="my-card-title">
          SuperNova: Escape!
        </div>
        <hr>
        <div class="description">
          Tap to escape the trailing super nova in this endless arcade classic! Carefully avoid the asteroids
          floating in space without slowing down... Tap too slowly and the super nova will surly catch up!
        </div>
        <button class="learn-more-button" mat-flat-button>
          <a class="button-link" href="https://animalcrossing.scavettapps.com">Download!</a>
        </button>
      </div>
    </div>
  </div>

</section>
