<app-parallax-title></app-parallax-title>

<section class="about">
  <div class="section-title">
    About me
  </div>
  My name is Vincent Scavetta and I am a professional Software developer.
</section>

<section>
  <div class="flex-grid">
    <mat-card class="about-card">
      <mat-card-title class="about-card-title">
        Frontend Development
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor nisi sodales posuere blandit. Morbi
        aliquet egestas leo, varius imperdiet purus porta eget. Fusce et justo pretium, ullamcorper metus ac, auctor
        erat. Nunc dignissim lorem sed imperdiet volutpat.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button primary>Ok</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="about-card">
      <mat-card-title class="about-card-title">
        Backend Development
      </mat-card-title>
      <mat-card-content>
        Specialized in developing Spring Boot Web Servers that can leverage the growing microservice
        architecture.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button primary>Ok</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="about-card">
      <mat-card-title class="about-card-title">
        Education
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor nisi sodales posuere blandit. Morbi
        aliquet egestas leo, varius imperdiet purus porta eget. Fusce et justo pretium, ullamcorper metus ac, auctor
        erat. Nunc dignissim lorem sed imperdiet volutpat.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button primary>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>




<section class="published">
  <div class="section-title">
    Published Titles
  </div>

  <div class="flex-grid">
    <mat-card class="about-card">
      <img mat-card-image src="../../assets/incrediballW.png" class="incrediball-card-header"/>
      <mat-card-title class="about-card-title">
        Incrediball
      </mat-card-title>
      <mat-card-content>
        Incrediball is the most incredible endless rolling ball experience. Steer the ball left and right on
        randomly generated paths to show your friends that you are truly incrediball
      </mat-card-content>
      <mat-card-actions>
        <button mat-button primary>Ok</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="about-card">
      <img mat-card-image src="../../assets/supernova.jpg" class="supernova-card-header"/>
      <mat-card-title class="about-card-title">
        SuperNova: Escape!
      </mat-card-title>
      <mat-card-content>
        Tap to escape the trailing super nova in this endless arcade classic! Carefully avoid the asteroids
        floating in space without slowing down... Tap too slowly and the super nova will surly catch up!
      </mat-card-content>
      <mat-card-actions>
        <button mat-button primary
          href="https://apps.apple.com/us/app/incrediball-the-endlessly-rolling-ball/id1119680630">Download Now</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
