<div class="modal">
  <div>
    Menu
  </div>
  <hr>
  <div class="button-container">
    <button mat-button (click)="itemClicked('homepage')">Home</button>
    <button mat-button (click)="itemClicked('hjohnsonii')">Halophila johnsonii</button>
    <button mat-button (click)="itemClicked('ai')">Artificial Intelligence</button>
    <button mat-button>
      <i class="fas fa-external-link-alt icon"></i>
      <a class="button-link" href="https://animalcrossing.scavettapps.com">Animal Crossing</a>
    </button>
    <button mat-button>
      <i class="fas fa-external-link-alt icon"></i>
      <a class="button-link" href="https://apps.apple.com/us/app/supernova-escape/id1212043972">SuperNova: Escape!</a>
    </button>
    <button mat-button>
      <i class="fas fa-external-link-alt icon"></i>
      <a class="button-link" href="https://apps.apple.com/us/app/incrediball-the-endlessly-rolling-ball/id1119680630">Incrediball</a>
    </button>
  </div>
</div>
