@import '../../variables.scss';

.modal {
  background-color: $primary;
  color:white;
  width: 250px;
  font-size: 1.25rem;
  font-weight: 600;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container > button {
  font-size: 1.0rem;
  font-weight: 200;
  margin: 2.5px;
}

.icon {
  margin-right: 10px;
}
