<section id="home" class="homepage">
  <div class="flex">
      <div class="title-container">
          <div class="title">
              Hello, I'm <span class="highlight">Vincent Scavetta</span>.
          </div>
          <div class="subtitle">
              creator of Scavettapps
          </div>
      </div>

  </div>

  <ul id="testing" data-friction-x="0.03" data-friction-y="0.05">
      <li class="layer" id="specks" data-depth="0.1"></li>
      <li class="layer" id="layer-1" data-depth="0.1">
          <div class="img" id="img-1"></div>
      </li>
      <li class="layer" id="layer-2" data-depth="0.25">
          <div class="img" id="img-2"></div>
      </li>
      <li class="layer" id="layer-3" data-depth="0.45">
          <div class="img" id="img-3"></div>
      </li>
  </ul>
</section>
