/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Raleway' !important;
  text-align: center;
  min-height: 100vh;
  height: auto;
  color: white;
}

.overflow-wrap {
  overflow-x: hidden;
  overflow: hidden;
}

.title-container {
  z-index: 1;
}

.title {
  font-size: 3rem;
  line-height: 36pt;
}

.subtitle {
  font-size: 2rem;
}

.section-title {
  /* padding: 70px 0 70px 0; */
  font-size: 2.5rem;
  line-height: 36pt;
  font-weight: 800;
}

.about-card {
  margin: 1rem;
  width: 512px;
}

.about-card.mat-card-header {
  width: 100%;
}

.about-card-title {
  width: 100%;
  margin: 0;
  color: blueviolet;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  align-items: stretch;
  justify-content: center;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #2E3141;
}

.section-title {
  margin: 1rem;
}

/* .inner {
  padding: 3em 0 1em 0;
  margin: 0 auto;
  width: 55em;
} */

.flex-center {
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
  background-color: #2E3141;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-link {
  color: white;
  text-decoration: none;
}

.section-info-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle {
  margin-bottom: 25px;
}

.bottom-border {
  border-width: 0px;
  border-bottom-width: 30px;
  border-bottom: blueviolet;
  border-style: solid;
}

.flex-left {
  display: flex;
  text-align: left;
}

/* @media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
} */
